WINDOWS/AS2-Automation-Windows-CloudFormation.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: >-
  This template creates an end-to-end Amazon AppStream 2.0 imaging process for Microsoft Windows based images, utilizing AWS Lambda and AWS Step Functions.   
Parameters:
  SourceS3Bucket:
    Type: String
    Description: S3 Bucket name that contains the files required to import and build this AppStream 2.0 automation workflow. (Lambda functions and layer zip files)
  SNSEmailSubscriptionEndPoint:
    Type: String
    Description: The email address that receives the automation notifications.
    Default: username@domain.com
  AS2VPCId:
    Type: 'AWS::EC2::VPC::Id'
    Description: VPCID where AppStream 2.0 image builders and Lambda functions will reside.
    ConstraintDescription: Must be the VPC Id of an existing Virtual Private Cloud.
  AS2VPCSubnet1:
    Type: 'AWS::EC2::Subnet::Id'
    Description: Subnet ID where Lambda functions will reside.
  AS2VPCSubnet2:
    Type: 'AWS::EC2::Subnet::Id'
    Description: Subnet ID where Lambda functions will reside.
  AS2DefaultImage:
    Type: String
    Description: Default Windows image to use when creating the AppStream 2.0 image builder instance. For non-domain joined image builders, input your customized base image with the embedded startup script here. See blog documentation for instructions on creating this.
    Default: AppStream-WinServer2019-03-03-2022
  AS2DefaultInstanceType:
    Type: String
    Description: The AppStream Instance type to use for the ImageBuilder
    Default: 'stream.standard.medium'
  DefaultDomain:
    Type: String
    Description: Default Active Directory FQDN to join image builder instances to. This should already be setup within the AppStream 2.0 console. Leave blank or enter 'none' to not join a domain. (onprem.corp.int)
    Default: none
  DefaultOU:
    Type: String
    Description: Default Active Directory OU Distinguished Name to place image builder instances in. Leave blank or enter 'none' to not join a domain. (OU=Image_Builders,OU=AppStream,OU=Virtual,OU=Production,OU=EUC,DC=onprem,DC=corp,DC=int)
    Default: none
  ImageBuilderSecretArn:
    Type: String
    Description: "ARN Credentials used by the application installer to access the AppStream ImageBuilder builder instance. Set this if the secret already exists"
    Default: ""
  ImageBuilderSecretPath:
    Type: String
    Description: "Credentials used by the application installer to access the AppStream ImageBuilder builder instance"
    Default: "as2/builder/pw"
  ImageBuilderDescription:
    Type: String
    Description: "ImageBuilderDescription"
    Default: "Automated Image Builder"
  ImageBuilderDisplayName:
    Type: String
    Description: "ImageBuilderDisplayName"
    Default: "Automated Builder"
  ImageBuilderBuilderName:
    Type: String
    Description: "ImageBuilderBuilderName"
    Default: "Automated_Builder"
  ImageBuilderImagePrefix:
    Type: String
    Description: "ImageBuilderImagePrefix"
    Default: "Automated_Image"

  LambdaFunctionLayerS3Key:
    Type: String
    Description: "S3 Key of the Lambda WinRM Library"
    Default: "Lambda_Layer_winrm_libraries.zip"
  FN01S3Key:
    Type: String
    Description: "S3 Key of the FN01_AS2_Windows_Automation_Create_Builder lambda function source zip"
    Default: "FN01_AS2_Windows_Automation_Create_Builder.zip"
  FN02S3Key:
    Type: String
    Description: "S3 Key of the N02_AS2_Windows_Automation_Scripted_Install lambda function source zip"
    Default: "FN02_AS2_Windows_Automation_Scripted_Install.zip"
  FN03S3Key:
    Type: String
    Description: "S3 Key of the FN03_AS2_Windows_Automation_Run_Image_Assistant lambda function source zip"
    Default: "FN03_AS2_Windows_Automation_Run_Image_Assistant.zip"
  FN04S3Key:
    Type: String
    Description: "S3 Key of the FN04_AS2_Windows_Automation_Image_Notification lambda function source zip"
    Default: "FN04_AS2_Windows_Automation_Image_Notification.zip"
Conditions:
    IsNotJoinDomain: !Or [!Equals [!Ref DefaultDomain, "none"], !Equals [!Ref DefaultDomain, ""]]
    CreateImageBuilderSecret: !Or [!Equals [!Ref ImageBuilderSecretArn, "none"], !Equals [!Ref   ImageBuilderSecretArn, ""]]

Transform: AWS::Serverless-2016-10-31
Resources:
  ImageBuilderSecret:
    Condition: CreateImageBuilderSecret
    Type: 'AWS::SecretsManager::Secret'
    Properties:
      Name: !Ref ImageBuilderSecretPath
      Description: "Local admin account on AppStream 2.0 image builders used in the image creation automation. This secret has a dynamically generated secret password."
      GenerateSecretString:
        SecretStringTemplate: '{"as2_builder_admin_user": "as2_builder_admin"}'
        GenerateStringKey: "as2_builder_admin_pw"
        PasswordLength: 30
        ExcludeCharacters: '"''@/\`'
      Tags:
        -
          Key: AS2_Image_Automation
          Value: v1
  WorkShopS3Bucket: 
    Type: "AWS::S3::Bucket" #creates a bucket with a semi-random name as2-automation-blog-XXXXXX
    Properties:
      BucketName: !Join
        - "-"
        - - "as2-automation-blog"
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId"
      AccessControl: Private
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      VersioningConfiguration:
        Status: Enabled
      LifecycleConfiguration:
        Rules:
         - Id: "Delete previous versions"
           NoncurrentVersionExpiration:
             NewerNoncurrentVersions: 1
             NoncurrentDays: 14
           Status: Enabled
  LambdaFunctionLayer:
    Type: AWS::Lambda::LayerVersion
    Properties:
      LayerName: !Join
        - "_"
        - - "AS2_Automation_pywinrm"
          - !Ref ImageBuilderImagePrefix
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId"      
      Description: Contains pywinrm libraries. Dependencies for the AppStream 2.0 automation.
      Content:
        S3Bucket:
          Ref: SourceS3Bucket
        S3Key: !Ref LambdaFunctionLayerS3Key
      CompatibleRuntimes:
        - python3.9
        - python3.8
        - python3.7
        - python3.6
  SNSTopic:
    Type: AWS::SNS::Topic    
    Properties:
      TopicName: !Join
        - "_"
        - - "AS2_Automation_Notification"
          - !Ref ImageBuilderImagePrefix
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId"
      KmsMasterKeyId: "alias/aws/sns"         
  SNSTopicPolicy:
    Type: AWS::SNS::TopicPolicy
    Properties:
      PolicyDocument:
        Id: SNSTopicPolicy
        Version: '2012-10-17'
        Statement:
          - Sid: "PublishEventsToSNSTopic"
            Effect: Allow
            Principal:
              Service: 
                - events.amazonaws.com
                - lambda.amazonaws.com
            Action:
              - sns:Publish
            Resource: !Ref SNSTopic
      Topics:
        - !Ref SNSTopic                  
  SNSSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Endpoint:
        Ref: SNSEmailSubscriptionEndPoint
      Protocol: email
      TopicArn:
        Ref: SNSTopic
  LambdaFunctionSecurityGroup:
    Type: AWS::EC2::SecurityGroup                 
    Properties:
        GroupDescription: Allows AppStream 2.0 automation Lambda functions to communicate with image builder instances and other AWS services.
        GroupName: !Join
          - "_"
          - - "AS2_Automation_Lambdas"
            - !Ref ImageBuilderImagePrefix
            - !Select
              - 0
              - !Split
                - "-"
                - !Select
                  - 2
                  - !Split
                    - "/"
                    - !Ref "AWS::StackId"        
        VpcId:
          Ref: AS2VPCId
        SecurityGroupEgress:
        - IpProtocol: 'tcp'
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
          Description: "Allow HTTPS from Lambda functions"
        - IpProtocol: 'tcp'
          FromPort: 53
          ToPort: 53
          CidrIp: 0.0.0.0/0
          Description: "Allow DNS lookup from Lambda functions"
        - IpProtocol: 'udp'
          FromPort: 53
          ToPort: 53
          CidrIp: 0.0.0.0/0
          Description: "Allow DNS lookup from Lambda functions"          
  LambdaFunctionSecurityGroupEgressRule1:
    Type: AWS::EC2::SecurityGroupEgress
    Properties:
      IpProtocol: 'tcp'
      FromPort: 5985
      ToPort: 5985
      DestinationSecurityGroupId:
        Ref: ImageBuilderSecurityGroup
      Description: "Allow remote WinRM from Lambda functions to image builders"
      GroupId:
        Ref: LambdaFunctionSecurityGroup        
  LambdaFunctionSecurityGroupEgressRule2:
    Type: AWS::EC2::SecurityGroupEgress
    Properties:
      IpProtocol: 'tcp'
      FromPort: 5986
      ToPort: 5986
      DestinationSecurityGroupId:
        Ref: ImageBuilderSecurityGroup
      Description: "Allow remote WinRM from Lambda functions to image builders"
      GroupId:
        Ref: LambdaFunctionSecurityGroup        
  ImageBuilderSecurityGroup:
    Type: AWS::EC2::SecurityGroup                                  
    Properties:
        GroupDescription: Allows AppStream 2.0 automation Lambda functions to communicate with image builder instances, and image builders to talk to outside resources and AWS services.
        GroupName: !Join
          - "_"
          - - "AS2_Automation_ImageBuilders"
            - !Ref ImageBuilderImagePrefix
            - !Select
              - 0
              - !Split
                - "-"
                - !Select
                  - 2
                  - !Split
                    - "/"
                    - !Ref "AWS::StackId"           
        VpcId:
          Ref: AS2VPCId
        SecurityGroupEgress:
        - IpProtocol: '-1'
          Description: "Allow outbound traffic from image builder"
          CidrIp: 0.0.0.0/0 
  ImageBuilderSecurityGroupIngressRule1:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      IpProtocol: 'tcp'
      FromPort: 5985
      ToPort: 5985
      SourceSecurityGroupId:
        Ref: LambdaFunctionSecurityGroup
      Description: "Allow remote WinRM from Lambda functions"
      GroupId:
        Ref: ImageBuilderSecurityGroup
  ImageBuilderSecurityGroupIngressRule2:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      IpProtocol: 'tcp'
      FromPort: 5986
      ToPort: 5986
      SourceSecurityGroupId:
        Ref: LambdaFunctionSecurityGroup
      Description: "Allow remote WinRM from Lambda functions"
      GroupId:
        Ref: ImageBuilderSecurityGroup                         
  LambdaFunctionIAMRole:
    Type: 'AWS::IAM::Role'        
    Properties: 
      RoleName: !Join
        - "_"
        - - "AS2_Automation_Lambda_Role"
          - !Ref ImageBuilderImagePrefix
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId"
      Description: IAM role for AS2 Automation Lambda Functions
      AssumeRolePolicyDocument: # What service can assume this role
        Version: '2012-10-17'
        Statement: 
          - 
            Effect: Allow
            Principal: 
              Service: 
                - 'lambda.amazonaws.com'
            Action: 
              - 'sts:AssumeRole'
  LambdaFunctionIAMPolicy:
    Type: 'AWS::IAM::ManagedPolicy'    
    Properties:
      Description: Permissions needed by Lambda functions to interact with AppStream 2.0 image builders and service.
      ManagedPolicyName: !Join
        - "_"
        - - "AS2_Automation_Lambda_Policy"
          - !Ref ImageBuilderImagePrefix
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId"        
      PolicyDocument: 
        Version: '2012-10-17'
        Statement: 
          - Effect: Allow
            Action:
              - 's3:Get*'
              - 's3:List*'
              - ec2:DescribeNetworkInterfaces
              - ec2:CreateNetworkInterface
              - ec2:DeleteNetworkInterface
              - appstream:TagResource              
              - appstream:DescribeImageBuilders
              - appstream:GetImageBuilders
              - appstream:DescribeImages
              - appstream:CreateImageBuilder                
              - appstream:DeleteImageBuilder
              - appstream:ListTagsForResource
              - appstream:StartImageBuilder
              - appstream:StopImageBuilder
            Resource: '*'
          - Effect: Allow
            Action:
              - sns:Publish
              - secretsmanager:GetSecretValue
              - secretsmanager:DescribeSecret
            Resource:
              - Ref: SNSTopic
              - !If [CreateImageBuilderSecret, Ref: ImageBuilderSecret, Ref: ImageBuilderSecretArn]
          - Effect: Allow
            Action:
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
            Resource: arn:aws:logs:*:*:*
          - Effect: Allow
            Action:
              - iam:PassRole
            Resource:
              - !GetAtt 'ImageBuilderIAMRole.Arn'            
      Roles:
        - !Ref LambdaFunctionIAMRole
  StepFunctionIAMRole:
    Type: 'AWS::IAM::Role'   
    Properties: 
      RoleName: !Join
        - "_"
        - - "AS2_Automation_StepFunction_Role"
          - !Ref ImageBuilderImagePrefix
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId"
      Description: IAM role for AppStream 2.0 automation Step Function
      AssumeRolePolicyDocument: # What service can assume this role
        Version: '2012-10-17'
        Statement: 
          - 
            Effect: Allow
            Principal: 
              Service: 
                - 'states.amazonaws.com'
            Action: 
              - 'sts:AssumeRole'
  StepFunctionIAMPolicy:
    Type: 'AWS::IAM::ManagedPolicy'    
    Properties:
      Description: Permissions needed by Step Function functions to interact with AppStream 2.0 image builders, the AppStream 2.0 service, and SNS.
      ManagedPolicyName: !Join
        - "_"
        - - "AS2_Automation_StepFunction_Policy"
          - !Ref ImageBuilderImagePrefix
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId" 
      PolicyDocument: 
        Version: '2012-10-17'
        Statement: 
          - Effect: Allow
            Action:
              - 'lambda:InvokeFunction'
            Resource:
              - !Join
                - ":"
                - - !GetAtt 'LambdaFunction01CreateBuilder.Arn'
                  - "live"
              - !Join
                - ":"
                - - !GetAtt 'LambdaFunction02ScriptedInstall.Arn'
                  - "live"
              - !Join
                - ":"
                - - !GetAtt 'LambdaFunction03RunImageAssistant.Arn'
                  - "live"
              - !Join
                - ":"
                - - !GetAtt 'LambdaFunction04ImageNotification.Arn'
                  - "live"
          - Effect: Allow
            Action:
              - xray:PutTraceSegments
              - xray:PutTelemetryRecords
              - xray:GetSamplingRules
              - xray:GetSamplingTargets
              - logs:CreateLogDelivery
              - logs:GetLogDelivery
              - logs:UpdateLogDelivery
              - logs:DeleteLogDelivery
              - logs:ListLogDeliveries
              - logs:PutResourcePolicy
              - logs:DescribeResourcePolicies
              - logs:DescribeLogGroups
              - appstream:DescribeImageBuilders
              - appstream:GetImageBuilders
              - appstream:DescribeImages
              - appstream:CreateImageBuilder
              - appstream:DeleteImageBuilder
              - appstream:ListTagsForResource
              - appstream:StartImageBuilder
              - appstream:StopImageBuilder                               
            Resource: '*'
      Roles:
        - !Ref StepFunctionIAMRole
  ImageBuilderIAMRole:
    Type: 'AWS::IAM::Role'    
    Properties: 
      RoleName: !Join
        - "_"
        - - "AS2_Automation_ImageBuilder_Role"
          - !Ref ImageBuilderImagePrefix
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId"
      Description: IAM role for AppStream 2.0 automation image builders
      AssumeRolePolicyDocument: # What service can assume this role
        Version: '2012-10-17'
        Statement: 
          - 
            Effect: Allow
            Principal: 
              Service: 
                - 'appstream.amazonaws.com'
            Action: 
              - 'sts:AssumeRole'
  ImageBuilderIAMPolicy:
    Type: 'AWS::IAM::ManagedPolicy'    
    Properties:
      Description: Permissions needed by AppStream 2.0 image builders to interact with Secrets Manager, S3, and Step Functions.
      ManagedPolicyName: !Join
        - "_"
        - - "AS2_Automation_ImageBuilder_Policy"
          - !Ref ImageBuilderImagePrefix
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId" 
      PolicyDocument: 
        Version: '2012-10-17'
        Statement: 
          - Effect: Allow
            Action:
              - states:SendTaskSuccess
              - states:SendTaskFailure
              - states:SendTaskHeartbeat
            Resource: '*'
          - Effect: Allow
            Action:
              - secretsmanager:GetSecretValue
            Resource:
              - !If [CreateImageBuilderSecret, Ref: ImageBuilderSecret, Ref: ImageBuilderSecretArn]
          - Effect: Allow
            Action:
              - s3:ListBucket
            Resource:
              - !GetAtt 'WorkShopS3Bucket.Arn'                  
          - Effect: Allow
            Action:
              - s3:GetObject
            Resource: !Join
              - ''
              - 
                - !GetAtt 'WorkShopS3Bucket.Arn'
                - '/*'
      Roles:
        - !Ref ImageBuilderIAMRole
  LambdaFunction01CreateBuilder:
    Type: AWS::Serverless::Function
    Properties:
      AutoPublishAlias: live
      FunctionName: !Join
        - "_"
        - - "AS2_Automation_FN01_Create_Builder"
          - !Ref ImageBuilderImagePrefix
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId"
      Handler: lambda_function.lambda_handler
      CodeUri:
        Bucket:
          Ref: SourceS3Bucket
        Key: !Ref FN01S3Key
      Environment:
        Variables:
          Default_Description: !Ref ImageBuilderDescription
          Default_DisplayName : !Ref ImageBuilderDisplayName
          Default_Domain : 
            Fn::If:
            - IsNotJoinDomain
            - none
            - Ref: DefaultDomain
          Default_OU :
            Fn::If:
            - IsNotJoinDomain
            - none
            - Ref: DefaultOU
          Default_IB_Name : !Ref ImageBuilderBuilderName
          Default_Image : !Ref AS2DefaultImage
          Default_ImageBuilderSecret : !Ref ImageBuilderSecretPath
          Default_Method : Script
          Default_Prefix : !Ref ImageBuilderImagePrefix
          Default_Role : !GetAtt 'ImageBuilderIAMRole.Arn'
          Default_SG : !Ref ImageBuilderSecurityGroup
          Default_Subnet : !Ref AS2VPCSubnet1
          Default_S3_Bucket: !Ref WorkShopS3Bucket
          Default_Type : !Ref AS2DefaultInstanceType
      Runtime: python3.9
      Role: !GetAtt 'LambdaFunctionIAMRole.Arn'
      Timeout: 30
  LambdaFunction02ScriptedInstall:
    Type: AWS::Serverless::Function
    Properties:
      AutoPublishAlias: live
      FunctionName: !Join
        - "_"
        - - "AS2_Automation_FN02_Scripted_Install"
          - !Ref ImageBuilderImagePrefix
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId"       
      Handler: lambda_function.lambda_handler
      CodeUri:
        Bucket:
          Ref: SourceS3Bucket
        Key: !Ref FN02S3Key
      Runtime: python3.9
      Environment:
        Variables:
          Default_S3_Bucket: !Ref WorkShopS3Bucket
      Layers:
        - Ref: LambdaFunctionLayer
      Role: !GetAtt 'LambdaFunctionIAMRole.Arn'
      MemorySize: 256
      Timeout: 600
      VpcConfig:
        SecurityGroupIds:
          - Ref: LambdaFunctionSecurityGroup
        SubnetIds:
          - Ref: AS2VPCSubnet1
          - Ref: AS2VPCSubnet2
    DependsOn:
      - LambdaFunctionIAMRole
      - LambdaFunctionIAMPolicy          
  LambdaFunction03RunImageAssistant:
    Type: AWS::Serverless::Function
    Properties:
      AutoPublishAlias: live
      FunctionName: !Join
        - "_"
        - - "AS2_Automation_FN03_Run_Image_Assistant"
          - !Ref ImageBuilderImagePrefix
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId"       
      Handler: lambda_function.lambda_handler
      CodeUri:
        Bucket:
          Ref: SourceS3Bucket
        Key: !Ref FN03S3Key
      Runtime: python3.9
      Layers:
        - Ref: LambdaFunctionLayer
      Role: !GetAtt 'LambdaFunctionIAMRole.Arn'
      MemorySize: 256
      Timeout: 60
      VpcConfig:
        SecurityGroupIds:
          - Ref: LambdaFunctionSecurityGroup
        SubnetIds:
          - Ref: AS2VPCSubnet1
          - Ref: AS2VPCSubnet2
    DependsOn:
      - LambdaFunctionIAMRole
      - LambdaFunctionIAMPolicy          
  LambdaFunction04ImageNotification:
    Type: AWS::Serverless::Function
    Properties:
      AutoPublishAlias: live
      FunctionName: !Join
        - "_"
        - - "AS2_Automation_FN04_Image_Notification"
          - !Ref ImageBuilderImagePrefix
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId"        
      Handler: lambda_function.lambda_handler
      CodeUri:
        Bucket:
          Ref: SourceS3Bucket
        S3Key: FN04_AS2_Windows_Automation_Image_Notification.zip
      Environment:
        Variables:
          NotificationARN: 
            Ref: SNSTopic        
      Runtime: python3.9
      Role: !GetAtt 'LambdaFunctionIAMRole.Arn'
      Timeout: 30
  StepFunction:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Ref "AWS::StackName"
      DefinitionString: 
        Fn::Sub:
          |-
            {
              "Comment": "AS2 Windows Image Automation Step Function",
              "StartAt": "Create Image Builder",
              "States": {
                "Create Image Builder": {
                  "Type": "Task",
                  "Resource": "${LambdaFunction01CreateBuilder.Arn}:live",
                  "ResultPath": "$",
                  "Next": "Check Builder Status (Create)"
                },
                "Check Builder Status (Create)": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::aws-sdk:appstream:describeImageBuilders",
                  "Parameters": {
                    "Names.$": "States.Array($.AutomationParameters.ImageBuilderName)"
                  },
                  "ResultPath": "$.BuilderStatus",
                  "Next": "Is Builder Created and Running?"
                },
                "Is Builder Created and Running?": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.BuilderStatus.ImageBuilders[0].State",
                      "StringEquals": "STOPPED",
                      "Next": "If Created and Stopped, Start Image Builder"
                    },
                    {
                      "Not": {
                        "Variable": "$.BuilderStatus.ImageBuilders[0].State",
                        "StringEquals": "RUNNING"
                      },
                      "Next": "If Not Ready, Wait 3 Min"
                    },
                    {
                      "Not": {
                        "Variable": "$.BuilderStatus.ImageBuilders[0].NetworkAccessConfiguration.EniPrivateIpAddress",
                        "IsPresent": true
                      },
                      "Next": "If Not Ready, Wait 3 Min"
                    }
                  ],
                  "Default": "Stop Image Builder (Reboot)",
                  "Comment": "Wait for Builder to enter RUNNING status."
                },
                "Stop Image Builder (Reboot)": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::aws-sdk:appstream:stopImageBuilder",
                  "Parameters": {
                    "Name.$": "$.AutomationParameters.ImageBuilderName"
                  },
                  "ResultPath": "$.BuilderStatus",
                  "Next": "Check Builder Status (Reboot)"
                },
                "Check Builder Status (Reboot)": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::aws-sdk:appstream:describeImageBuilders",
                  "Parameters": {
                    "Names.$": "States.Array($.AutomationParameters.ImageBuilderName)"
                  },
                  "ResultPath": "$.BuilderStatus",
                  "Next": "Is Builder Stopped?"
                },
                "Is Builder Stopped?": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.BuilderStatus.ImageBuilders[0].State",
                      "StringEquals": "STOPPED",
                      "Next": "Start Image Builder (Reboot)"
                    }
                  ],
                  "Default": "If Not Stopped, Wait 1 min",
                  "Comment": "Wait for Builder to enter STOPPED status."
                },
                "Start Image Builder (Reboot)": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::aws-sdk:appstream:startImageBuilder",
                  "Parameters": {
                    "Name.$": "$.AutomationParameters.ImageBuilderName"
                  },
                  "ResultPath": "$.BuilderStatus",
                  "Next": "Check Builder Status (After Reboot)"
                },
                "Check Builder Status (After Reboot)": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::aws-sdk:appstream:describeImageBuilders",
                  "Parameters": {
                    "Names.$": "States.Array($.AutomationParameters.ImageBuilderName)"
                  },
                  "ResultPath": "$.BuilderStatus",
                  "Next": "Is Builder Running?"
                },
                "Is Builder Running?": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.BuilderStatus.ImageBuilders[0].State",
                      "StringEquals": "RUNNING",
                      "Next": "Wait 2 Min"
                    }
                  ],
                  "Default": "If Not Running, Wait 1 Min",
                  "Comment": "Wait for Builder to enter RUNNING status."
                },
                "If Not Running, Wait 1 Min": {
                  "Type": "Wait",
                  "Seconds": 60,
                  "Next": "Check Builder Status (After Reboot)"
                },
                "Wait 2 Min": {
                  "Type": "Wait",
                  "Seconds": 120,
                  "Next": "Remote Software Install - Script",
                  "Comment": "Wait for startup scripts to complete."
                },
                "If Not Stopped, Wait 1 min": {
                  "Type": "Wait",
                  "Seconds": 60,
                  "Next": "Check Builder Status (Reboot)"
                },
                "If Created and Stopped, Start Image Builder": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::aws-sdk:appstream:startImageBuilder",
                  "Parameters": {
                    "Name.$": "$.AutomationParameters.ImageBuilderName"
                  },
                  "ResultPath": "$.BuilderStatus",
                  "Next": "If Not Ready, Wait 3 Min"
                },
                "If Not Ready, Wait 3 Min": {
                  "Type": "Wait",
                  "Seconds": 180,
                  "Next": "Check Builder Status (Create)"
                },
                "Remote Software Install - Script": {
                  "Type": "Task",
                  "Resource": "${LambdaFunction02ScriptedInstall.Arn}:live",
                  "ResultPath": null,
                  "Next": "Run Image Assistant"
                },
                "Run Image Assistant": {
                  "Type": "Task",
                  "Resource": "${LambdaFunction03RunImageAssistant.Arn}:live",
                  "ResultPath": "$.ImageStatus",
                  "Next": "Check Image Status"
                },
                "Check Image Status": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::aws-sdk:appstream:describeImages",
                  "Parameters": {
                    "Names.$": "States.Array($.ImageStatus.Images[0].Name)"
                  },
                  "ResultPath": "$.ImageStatus",
                  "Next": "Is Image Ready?"
                },
                "Is Image Ready?": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.ImageStatus.Images[0].State",
                      "StringEquals": "AVAILABLE",
                      "Next": "Wait 1 min"
                    }
                  ],
                  "Default": "If Not Available, Wait 5 min",
                  "Comment": "Wait for image to enter Available status."
                },
                "If Not Available, Wait 5 min": {
                  "Type": "Wait",
                  "Seconds": 300,
                  "Next": "Check Image Status"
                },
                "Wait 1 min": {
                  "Type": "Wait",
                  "Seconds": 60,
                  "Next": "Delete Builder?"
                },
                "Delete Builder?": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.AutomationParameters.DeleteBuilder",
                      "BooleanEquals": false,
                      "Next": "Send Final Notification"
                    }
                  ],
                  "Default": "Delete Image Builder"
                },
                "Delete Image Builder": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::aws-sdk:appstream:deleteImageBuilder",
                  "Parameters": {
                    "Name.$": "$.AutomationParameters.ImageBuilderName"
                  },
                  "ResultPath": "$.BuilderStatus",
                  "Next": "Send Final Notification"
                },
                "Send Final Notification": {
                  "Type": "Task",
                  "Resource": "${LambdaFunction04ImageNotification.Arn}:live",
                  "ResultPath": null,
                  "End": true
                }
              }
            }
      RoleArn: !GetAtt 'StepFunctionIAMRole.Arn'
  StepFunctionEventRule: 
    Type: AWS::Events::Rule
    Properties:
      Name: !Join
        - "_"
        - - "AS2_Automation_Failure_Notification"
          - !Ref ImageBuilderImagePrefix
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId"     
      Description: "Rule to send notification to SNS topic when the AS2 Windows automation Step Function fails."
      EventPattern: 
        source: 
          - "aws.states"
        detail-type: 
          - "Step Functions Execution Status Change"
        detail: 
          status: 
            - "FAILED"
          stateMachineArn:
            - !GetAtt 'StepFunction.Arn'             
      Targets: 
        - Arn: !Ref SNSTopic
          Id: "SNStopic"
          InputTransformer:
            InputPathsMap:
              "account": "$.account"
              "executionname": "$.detail.name"
              "input": "$.detail.input"
              "machine": "$.detail.stateMachineArn"
              "region": "$.region"
              "status": "$.detail.status"
            InputTemplate: |
              {
                "StepFunction" : <machine>,
                "Status" : <status>,
                "Execution" : <executionname>,
                "Input" : <input>,
                "Account" : <account>,
                "Region" : <region>
              } 
Outputs:
  LambdaFunction01CreateBuilder:
    Value: !Ref LambdaFunction01CreateBuilder
  LambdaFunction01CreateBuilderAliaslive:
    Value: !Ref LambdaFunction01CreateBuilderAliaslive
  LambdaFunction02ScriptedInstall:
    Value: !Ref LambdaFunction02ScriptedInstall
  LambdaFunction02ScriptedInstallAliaslive:
    Value: !Ref LambdaFunction02ScriptedInstallAliaslive
  LambdaFunction03RunImageAssistant:
    Value: !Ref LambdaFunction03RunImageAssistant
  LambdaFunction03RunImageAssistantAliaslive:
    Value: !Ref LambdaFunction03RunImageAssistantAliaslive
  LambdaFunction04ImageNotification:
    Value: !Ref LambdaFunction04ImageNotification
  LambdaFunction04ImageNotificationAliaslive:
    Value: !Ref LambdaFunction04ImageNotificationAliaslive
  WorkShopS3BucketName:
    Description: The bucket in S3 to upload automation execution resources including installation installation packages.
    Value:
      Ref: WorkShopS3Bucket
  ImageBuilderIAMPolicy:
    Value: !Ref ImageBuilderIAMPolicy
  ImageBuilderIAMRole:
    Value: !Ref ImageBuilderIAMRole
  ImageBuilderSecurityGroup:
    Value: !Ref ImageBuilderSecurityGroup
  ImageBuilderSecurityGroupIngressRule1:
    Value: !Ref ImageBuilderSecurityGroupIngressRule1
  ImageBuilderSecurityGroupIngressRule2:
    Value: !Ref ImageBuilderSecurityGroupIngressRule2
  LambdaFunction01CreateBuilder:
    Value: !Ref LambdaFunction01CreateBuilder
  LambdaFunctionIAMPolicy:
    Value: !Ref LambdaFunctionIAMPolicy
  LambdaFunctionIAMRole:
    Value: !Ref LambdaFunctionIAMRole
  LambdaFunctionLayer:
    Value: !Ref LambdaFunctionLayer
  LambdaFunctionSecurityGroup:
    Value: !Ref LambdaFunctionSecurityGroup
  LambdaFunctionSecurityGroupEgressRule1:
    Value: !Ref LambdaFunctionSecurityGroupEgressRule1
  LambdaFunctionSecurityGroupEgressRule2:
    Value: !Ref LambdaFunctionSecurityGroupEgressRule2
  SNSSubscription:
    Value: !Ref SNSSubscription
  SNSTopic:
    Value: !Ref SNSTopic
  SNSTopicPolicy:
    Value: !Ref SNSTopicPolicy
  StepFunction:
    Value: !Ref StepFunction
  StepFunctionEventRule:
    Value: !Ref StepFunctionEventRule
  StepFunctionIAMPolicy:
    Value: !Ref StepFunctionIAMPolicy
  StepFunctionIAMRole:
    Value: !Ref StepFunctionIAMRole
